body {
  font-family: 'Roboto Slab', serif; }

a {
  color: black; }

a:hover {
  color: black;
  text-decoration: none;
  border-bottom: 2px solid black; }

.line {
  border-bottom: 3px solid black;
  width: 60%;
  top: 3px; }

header {
  margin-bottom: 50px; }
  header .title .logo {
    margin-top: 25px; }
  header .title div {
    margin-top: 40px; }
    header .title div h1 {
      font-size: 50px;
      float: right; }
    header .title div .headerList {
      font-size: 20px;
      display: inline-block; }
      header .title div .headerList li {
        display: inline-block;
        margin-right: 15px; }

/* Boats page */
.boatPic {
  display: inline-block;
  height: 350px;
  max-width: 450px; }

.boatDescription {
  display: inline-block; }

footer div {
  margin: 0 auto;
  text-align: center;
  padding: 10px; }
  footer div .socialIcon {
    display: inline-block;
    font-size: 25px; }
    footer div .socialIcon li {
      display: inline-block;
      margin-right: 20px; }
    footer div .socialIcon :nth-child(4) {
      margin-right: 0; }
  footer div .footerNav {
    display: inline-block; }
    footer div .footerNav li {
      display: inline-block;
      padding-right: 10px;
      padding-left: 10px;
      border-right: 1px black solid; }
    footer div .footerNav a:hover {
      text-decoration: none;
      border-bottom: 1px solid black; }
    footer div .footerNav :nth-child(6) {
      border-right: none; }

<<<<<<< HEAD
#basicContent {
  border-bottom: 1px solid lightgrey; }
  #basicContent div h3 {
    font-size: 30px; }
  #basicContent div p {
    font-size: 12px; }
  #basicContent form input {
    margin-bottom: 10px;
    font-size: 15px; }
  #basicContent form .submitButton {
    background-color: #1E6DC7;
    color: #fff;
    outline: none;
    border: none;
    border-radius: 5px;
    border: 1px solid #1E6DC7; }

.profile {
  border-bottom: 1px solid lightgrey;
  padding-bottom: 10px; }
  .profile div {
    margin-top: 25px; }
    .profile div h3 {
      font-size: 30px; }
    .profile div p {
      font-size: 12px; }
  .profile img {
    max-width: 30%;
    max-height: 30%;
    margin-top: 25px;
    border-radius: 50%; }

#history {
  border-bottom: 1px solid lightgrey; }
  #history div {
    margin-top: 25px; }
    #history div h3 {
      font-size: 30px; }
    #history div p {
      font-size: 12px; }
    #history div #historyContainer {
      max-height: 250px;
      overflow: scroll;
      margin-bottom: 10px; }
=======
.imgSlider {
  background-color: rgba(192, 192, 192, 0.2);
  margin-bottom: 70px;
  display: block;
  height: 300px;
  width: 100%;
  border-radius: 20%; }

.imgSlider2 {
  background-color: rgba(192, 192, 192, 0.6);
  margin-bottom: 70px;
  display: block;
  height: 300px;
  width: 100%;
  border-radius: 30%; }

.imgSlider3 {
  background-color: rgba(192, 192, 192, 0.9);
  margin-bottom: 70px;
  display: block;
  height: 300px;
  width: 100%;
  border-radius: 40%; }

.mySlides {
  max-height: 80%;
  width: 60%;
  margin: 0px auto;
  display: block;
  margin-top: 30px;
  border-radius: 15px; }

.blogBox p {
  display: inline-block;
  vertical-align: top;
  margin-bottom: 1000px; }

.bioBox p {
  font-size: 18px; }

.blogImgOne {
  width: 200px;
  height: 200px; }

.blogImgTwo {
  width: 200px;
  height: 200px; }

.blogImgThree {
  width: 200px;
  height: 200px; }
>>>>>>> f10f63251bfbaa256ca7025dcd3bf434381837a9

@media only screen and (max-width: 800px) {
  body {
    background-color: lightblue; }
  .logo {
    display: none; } }

@media only screen and (max-width: 993px) {
  .line {
    display: none; }
  .headerList {
    font-size: 10px !important; } }
